/* -- CLASSES -- */
.board {
    margin-top: 10px;
    width: 100%;
    height: 75%;
    display: grid;
    justify-content: center;
    /* if changing the number of rows, must change the elementsPerRow in Board.js */
    grid-template-columns: repeat(20, 2%);
    grid-template-rows: repeat(20, 5%);
}

/* CLASSES FOR NODES */
.status-0 {
    /* The Node is a passage */
    background-color: white;
    border: 0.12em solid #77b6ea;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.status-0:hover {
    /* The Node is a passage */
    background-color: rgb(245, 8, 8);
    transition: all 0.1s ease-in;
}

.status-1 {
    /* The Node is a wall */
    background-color: black;
    border: 0.12em solid rgb(12, 3, 87);
    margin: 0px;
    width: 100%;
    height: 100%;
}

.status-1:hover {
    /* The Node is a passage */
    background-color: rgb(245, 8, 8);
    transition: all 0.1s ease-in;
}

.status-2 {
    /* The node is the start of the maze */
    background-color: #009fb7;
}

.status-3 {
    /* The node is the end of the maze */
    background-color: #fed766;
}

.status-4 {
    /* This node has been visited in the maze */
    background-color: indianred;
    border: 0.12em solid black;
    margin: 0px;
    width: 100%;
    height: 100%;
}
